body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 15px;
    background-color: #eeeeee;
    text-align: center;
    color: #333333;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: whitesmoke;
    width: 30%;
    height: 200px;
    margin: 20px auto;
    padding: 20px 50px;
    border-radius: 2px;
    border: 1px solid #333333;
}

/* input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
button{
    background-color: #00562f;
    padding: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
    color: #EEEEEE;
}

.displayCollections{
    width: 300px;
    border: 1px solid #333333;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
}

input {
    border: 1px solid #333333;
}

textarea{
    border: 1px solid #333333;
}

select{
    border: 1px solid #333333;
}
.log-in{
    background-color: #00562f;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 4px;
    width: 80px;
    color: #EEEEEE;

}