@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    /* padding: 15px; */
    background-color: #eeeeee;
    /* text-align: center; */
    color: #333333;
    height: 100%;
}

h1, h2,  h3{
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 10px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:#9c7270;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #9c7270; 
    border-radius: 0;
    padding-bottom: 5px;
    cursor: pointer;
    width: 150px;
    
}
button{
    background-color: #005645;
    padding: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin: 5px;
    color: #EEEEEE;
}


input {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #9c7270;
    width: 300px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0 2px;
}

label{
    font-size: 18px;
    font-weight: 900;
}

.log-in, .register, .commit{
    background-color: #005645;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #EEEEEE;
    font-size: 15px;
    width: 300px;
    margin: 10px;
}

.navBtn{
    background-color: #eeeeee;
    color: #005645;
    padding: 10px 5px;
    width: 80px;
    margin: 5px 20px 5px 20px;
}

.titleDescription{
    width: 250px;
    text-align: center;
}

.pageDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 10px 15px 80px 15px;
    margin-top: 50px;
}

.logInInfo{
    margin: 10px;
    padding: 5px;
}
.navDiv{
    height: 70px;
    width: 100%;
    background-color: #005645;
    position: sticky;
    margin-bottom: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
