.addRestText{
    margin: 21px 15px 30px 15px;
}

.collectionSelect{
    margin-top: 20px;
    width: 285px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.addCollectionBtn{
    font-size: 30px;
    color: #005645;
    background-color: #eeeeee;
    border: none;
    width: 50px;
    margin-left: 15px;
}

select{
    border: 1px solid #333333;
    height: 30px;
    width: 190px;
    text-align: center;
    color: #c68642;
    font-size: 16px;
}

textarea{
    border: 1px solid #333333;
    border-radius: 5px;
    width: 275px;
    font-size: 15px;
    padding: 5px;
}