.note{
    color: #c68642;
    height: 40px;
    width: 280px;
    border: 1px solid #c6c6c6; 
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 17px;
    padding: 2px 7px 2px 7px;
    overflow-y: auto;
}
.edit{
    margin: 5px;
}
.displayCollectionName{
    color: #c68642;
    font-size: 17px;
    margin: 10px;
}

.googleData{
    width: 285px;
    margin: 10px;
    border: 1px solid #eeeeee;
    padding: 5px 10px 2px 10px;
    color: #005645;
    background-color: #cedad8;
    /* background-color: #e7cfce8e; */
    border-radius: 5px;
}

.detailDiv{
    display: flex;
    justify-content: space-between;
}

.addressDiv p{
    margin: 2px 0px;
}

.noteName p{
    margin: 16px 0px 16px 10px;
    font-size: 18px;
    font-weight: 900;
}