.displayRestaurants{
    width: 300px;
    margin: 8px auto 8px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurantList{
    height: 40px;
    width: 275px;
    color: #c68642;
    border: 1px solid #c6c6c6; 
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.headline{
    text-align: center;
}